.modal {


    .card {
        margin-top: 2rem;
        margin-bottom: 2rem;

        input {
            margin-right: 12px;
        }
    }

    .scrollContainer {
        max-height: 60vh;
        overflow-y: auto;
    }
}