.AnimeCard {
    padding: 16px;
    max-width: 85rem; 
    margin: 0 auto; 
    padding: 3.75rem 1.25rem; 
    margin-bottom: 2rem;
}


.animeInfo {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;

    span {
        padding: 0.5rem;
        border-radius: 0.5rem;
    }
}

.description {
    margin-top: 2rem;
    max-width: 75rem;
    font-size: larger;
    hyphens: auto;
    overflow-wrap: break-word;

}

.watchButton {
    margin-top: 1rem;
    max-width: min-content;
}

.EpisodesCard {
    margin-top: 2rem;
    padding: 1rem;
}

.EpisodesGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9.375rem, 1fr));
    gap: 1rem;
}

.EpisodeItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.EpisodeImg {
    width: 100%;
    border-radius: 0.5rem;
}

.EpisodeInfo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0.5rem;
}

.member {
    display: flex;
    align-items: center;
    justify-content: center;
}

.ImgCardContent {
    min-width: 20rem;
    border-radius: 0.5rem;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
    gap: 1rem;
    padding: 1rem;
}

.cardInfoSer {
    max-width: 85rem; 
    margin: 0 auto; 
    padding: 3.75rem 1.25rem; 
    margin-bottom: 2rem;
}

.seriesContainer {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 1rem;
    @media (max-width: 576px) {
        padding: 0;
    }
}

.episodeRow {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-bottom: 1rem;
    width: 100%;
}

.virtualList {
    scrollbar-color: var(--primary-color) transparent;
    padding: 0.5rem;
    scroll-behavior: smooth !important;
    scrollbar-width: thin;
    
    &::-webkit-scrollbar {
        width: 8px;
    }
    
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-color);
        border-radius: 4px;
        
        &:hover {
            background-color: var(--primary-color-hover);
        }
    }
}

.episodeCard {
    position: relative;
    height: 8rem;
    width: 14rem;
    max-width: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: flex-end;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    
    &:hover {
        transform: translateY(-0.25rem);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    }
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
}

.content {
    position: relative;
    z-index: 1;
    width: 100%;
    padding: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.episodeTitle {
    font-size: 0.85rem;
    font-weight: 400;
    opacity: 0.8;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.bottomSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.episodeNumber {
    font-size: 1rem;
    font-weight: bold;
}

.duration {
    font-size: 0.85rem;
    opacity: 0.8;
}

.emptyState {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 1.5rem;
    color: var(--text-color);
}

.membersContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.member {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.memberInfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.nickname {
    font-weight: bold;
    font-size: 16px;
    color: var(--primary-color);
}

.role {
    font-size: 14px;
    color: var(--stroke);
}

