.ArticleList {
    display: flex;
    flex-wrap: wrap;
}

.BIG {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.SMALL {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}