
.backBtn {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.sidebarBtn {
    position: absolute;
    top: 0;
    right: 0;
}

.Player {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    margin-top: 0.5rem;
    height: calc(100vh - var(--navbar-height));
    


    video {
        padding: 0;
        width: 100vw;
        height: 100vh;
        object-fit: contain;
        border-radius: 0.5rem;
    }

    .controls {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
    }
}

@media (max-width: 768px) {
    .Player {
        width: 95vw;
        height: 40vh;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    video {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }
}

.errorTitle {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;

}

.quality {
    position: absolute;
    bottom: 5rem;
    right: 2rem;
    z-index: 3;
    display: flex;
    align-items: center;
    
    .qualitySelect {
        min-width: 80px;
        background: var(--bg-color);
        border-radius: 0.25rem;
        
        :global {
            .ant-select-selector {
                background: transparent;
                border: none;
                color: var(--text-color);
            }
            
            .ant-select-arrow {
                color: var(--text-color);
            }
        }
    }
}
