.radio {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardWrapper {
  position: fixed;
}

.filterCol {
    padding: 0.5em;
    font-size: var(--font-l);
    font-weight: 600;
  }
  
  .paddingRow {
    padding: 0.7em;
  }
  
  .Card {
    width: 18.75rem;
    height: 37.5rem;
    margin: 1em;
    border: var(--stroke) solid 1px;
  }
  
  .text {
    font-size: var(--font-m);
    font-weight: 600;
    margin-bottom: 1em;
  }
  
  .filterSpan {
    display: flex; 
    align-items: center; 
  }