.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--bg-color);
    border-bottom: 1px solid var(--border);

    .row {
        padding: 20px;
    }
}
.textExtr {
    font-size: 24px;
    font-weight: 900;

    span {
        color: #BB3637;
    }

    user-select: none;
}
