.FranchisesList {
    margin-top: 2rem;
    width: 100%;
}

.listWrapper {
    width: 100%;
    padding: 0 1rem;
    height: auto;

    @media (max-width: 576px) {
        padding: 0;
    }
}

.card {
    transition: transform 0.3s ease;
    margin: 0 0.5rem 0.5rem;
}

.row {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 100%;
}

.emptyState {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    font-size: 1.5rem;
    color: var(--text-color);
}

.normalList {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}