.wrapper {
  flex-direction: column;
  position: fixed;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -60%);
  text-align: center;
}

.subtitle {
  margin-bottom: 1rem;
}


.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35rem;
  height: 22rem;
  margin: 0 auto;
  border-radius: 1.5rem;
  border: var(--stroke) solid 1px;


  input {
      margin-bottom: 0.5rem;
      padding: 12px;

      &:first-child {
          margin-top: 1.5rem;
      }
  }

  button {
      width: 100%;
      margin-top: 1.5rem;
      padding: 16px;
      border-radius: 10px;
  }

  a {
      margin-top: 24px;
      cursor: pointer;
      color: var(--primary-color);
      margin-bottom: 1.1rem;
  }
}


@media (max-width: 720px) {

  .card {
      width: 25rem;
  }
}

@media (max-width: 460px) {

  .wrapper {
    transform: translate(-50%, -50%);
  }
  .card {
      width: 20rem;
      height: 20rem;
  }
}